.preload {
  z-index: 1000;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.preload__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}

.preload__hello {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10vh 0 0 0;
}

.preload__welcome {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 10vh 0;
}

.preload__text {
  color: #1c1c1c;
  font-size: 36px;
  font-weight: 500;
}

.preload__translate {
  color: #393939;
  font-size: 16px;
  font-weight: 300;
}

.preload__circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #d41212;
  -webkit-animation: flag 2s ease-in-out forwards;
          animation: flag 2s ease-in-out forwards;
}

.preload-finish {
  pointer-events: none !important;
  opacity: 0;
}

@-webkit-keyframes flag {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(-188.2%, 0%) scale(0.35);
            transform: translate(-188.2%, 0%) scale(0.35);
  }
}

@keyframes flag {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(-188.2%, 0%) scale(0.35);
            transform: translate(-188.2%, 0%) scale(0.35);
  }
}

.header {
  width: calc(100% - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px;
  z-index: 1000;
}

.header__white * {
  color: #fff !important;
}

.header__top {
  height: 60px;
  position: fixed;
  top: 0;
}

.header__bottom {
  position: fixed;
  bottom: 0;
  margin: 0 60px 4vh 60px;
  font-size: 12px !important;
}

.header__bottom__arrow {
  font-size: 18px;
}

.header__bottom__navbar {
  width: 400px !important;
}

.header__logo {
  font-size: 16px;
  font-weight: 700;
}

.header__navbar {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: calc(100%);
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 117px;
}

.hero__left__title {
  font-size: 32px;
  font-weight: 700;
}

.hero__left__text {
  font-size: 12px;
  font-weight: 300;
  color: #393939;
  margin: 40px 0 0 0;
}

.hero__left__button {
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
  margin: 120px 0 0 0;
  width: 83px;
  height: 29px;
  border: none;
  background: none;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero__left__button:hover {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero__left__button:hover::after {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__left__button:hover::before {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.hero__left__button::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #1c1c1c;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero__left__button::after {
  content: "";
  width: 30px;
  height: 1px;
  background: #1c1c1c;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  overflow: hidden;
  padding: 0 22px 0 20px;
  margin: 0 38px 0 0;
}

.hero__right__container {
  width: 250px;
  height: 500px;
  overflow: visible;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

.hero__right__container:nth-of-type(1) {
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}

.hero__right__container:nth-of-type(1) img {
  -webkit-clip-path: polygon(0 0, 33.1% 0, 33.1% 100%, 0 100%);
          clip-path: polygon(0 0, 33.1% 0, 33.1% 100%, 0 100%);
}

.hero__right__container:nth-of-type(3) {
  -webkit-transform: translateY(4%);
          transform: translateY(4%);
}

.hero__right__container:nth-of-type(3) img {
  -webkit-transform: translateX(-33.5%);
          transform: translateX(-33.5%);
  -webkit-clip-path: polygon(33.5% 0, 66.6% 0, 66.6% 100%, 33.5% 100%);
          clip-path: polygon(33.5% 0, 66.6% 0, 66.6% 100%, 33.5% 100%);
}

.hero__right__container:nth-of-type(5) {
  -webkit-transform: translateY(-2%);
          transform: translateY(-2%);
}

.hero__right__container:nth-of-type(5) img {
  -webkit-transform: translateX(-66.83%);
          transform: translateX(-66.83%);
  -webkit-clip-path: polygon(66.8% 0, 100% 0, 100% 100%, 66.8% 100%);
          clip-path: polygon(66.8% 0, 100% 0, 100% 100%, 66.8% 100%);
}

.hero__right__container:hover {
  opacity: 1;
}

.hero__right__container-hover {
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
  z-index: 2;
}

.hero__right__container-hover img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.hero__right__container__img {
  width: 756px;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: -webkit-clip-path 1.2s;
  transition: -webkit-clip-path 1.2s;
  transition: clip-path 1.2s;
  transition: clip-path 1.2s, -webkit-clip-path 1.2s;
}

.hero__right__line {
  width: 0.15rem;
  height: 80vh;
  background: #040404;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 380px;
}

.about__item-top {
  -webkit-transform: translateY(-28%);
          transform: translateY(-28%);
}

.about__item-bottom {
  -webkit-transform: translateY(28%);
          transform: translateY(28%);
}

.about__item__container {
  width: 150px;
  height: 380px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item__line {
  width: 0.15rem;
  height: 380px;
  background: #040404;
}

.about__item__text {
  width: 267px;
  margin: 0 20px;
  line-height: 1.4;
}

.culture {
  background-image: url("./../img/culture-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.culture__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  margin: 0 0 0 117px;
  position: relative;
}

.culture__inner::after {
  content: "";
  height: 100vh;
  width: 0.2px;
  background: #fff;
  position: absolute;
  left: 160vh;
  opacity: 0.2;
}

.culture__title {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  margin: 0 0 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.culture__title::before {
  content: "";
  width: 25px;
  height: 2px;
  background: #ec3b3b;
  position: absolute;
  left: -45px;
}

.culture__text {
  font-size: 12px;
  font-weight: 300;
  color: #f2f2f2;
  line-height: 18px;
  margin: 30px 0 0 0;
}

.culture__container {
  max-width: 700px;
  margin: 10vh 0 0 0;
}

.culture__btn {
  margin: 5vh 0 0 0;
}

.visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visit__place__country {
  position: relative;
}

.visit__place__country:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.visit__place__country:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.visit__place__country::before {
  content: "";
  width: 80px;
  height: 2px;
  background: #1c1c1c;
  position: absolute;
  top: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.visit__place__country::after {
  content: "";
  width: 80px;
  height: 2px;
  background: #d41212;
  position: absolute;
  bottom: -15px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.visit__place__country img {
  height: 500px;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

.visit__place__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 20px;
  background-image: url("./../img/japan-map-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.visit__place__description__title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit__place__description__title::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #ec3b3b;
  top: 0;
  left: 0;
  margin: 0 20px 0 0;
}

.visit__place__description__text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.8;
  margin: 30px 0 0 0;
}

.visit__place__description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0 18px;
}

.visit__place__description__container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #d51312;
  border: none;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 40px;
  position: relative;
}

.visit__place__description__container__btn:hover {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.visit__place__description__container__btn:hover::before {
  -webkit-transform: translate(-125%, 0%);
          transform: translate(-125%, 0%);
}

.visit__place__description__container__btn:hover::after {
  -webkit-transform: translate(125%, 0%);
          transform: translate(125%, 0%);
}

.visit__place__description__container__btn::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #fff;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  top: -5px;
  position: absolute;
  -webkit-transform: translate(-185%, 0);
          transform: translate(-185%, 0);
}

.visit__place__description__container__btn::after {
  content: "";
  width: 30px;
  height: 1px;
  background: #1c1c1c;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  bottom: -5px;
  position: absolute;
  -webkit-transform: translate(185%, 0);
          transform: translate(185%, 0);
}

.visit__place__description__container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visit__place__description__container__nav-link {
  font-size: 8px;
  font-weight: 400;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.visit__place__description__container__nav-link:hover {
  color: #d41212;
}

.visit__place__description__container__nav-link::after {
  content: "/ /";
  padding: 0 5px;
}

.visit__place__description__container__nav-link:nth-child(3)::after {
  content: "";
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #1c1c1c;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dcdcdc;
  width: 100%;
  height: 100vh;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.main {
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main::-webkit-scrollbar {
  display: none;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}

section::before {
  content: "";
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #d41212;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50vh;
  left: 0;
  -webkit-transform: translate(-51%, -50%) scale(0.35);
          transform: translate(-51%, -50%) scale(0.35);
  z-index: 5;
}
/*# sourceMappingURL=Main.css.map */