.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: calc(100% - 120px);
  margin: 0 60px;

  // hero__left
  &__left {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;

    // hero__left__title
    &__title {
      font-size: 32px;
      font-weight: 700;
    }
    // hero__left__text
    &__text {
      font-size: 12px;
      font-weight: 300;
      color: #393939;
      margin: 40px 0 0 0;
    }
    // hero__left__button
    &__button {
      font-size: 14px;
      font-weight: 400;
      color: #1c1c1c;
      margin: 120px 0 0 0;

      width: 83px;
      height: 29px;

      border: none;
      background: none;

      position: relative;

      transition: transform 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &::after {
          transform: translateX(-50%);
        }
        &::before {
          transform: translateX(50%);
        }
      }

      &::before {
        content: "";
        width: 30px;
        height: 1px;
        background: #1c1c1c;
        position: absolute;
        bottom: 0;
        left: 0;

        transition: transform 0.3s ease-in-out;
      }
      &::after {
        content: "";
        width: 30px;
        height: 1px;
        background: #1c1c1c;
        position: absolute;
        top: 0;
        right: 0;

        transition: transform 0.3s ease-in-out;
      }
    }
  }

  // hero__right
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 600px;
    overflow: hidden;
    padding: 0 22px 0 20px;

    // hero__right__container
    &__container {
      width: 250px;
      height: 500px;
      overflow: hidden;

      transition: transform 0.7s ease;

      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);

      &:nth-of-type(1) {
        transform: translateY(-4%);
      }
      &:nth-of-type(3) {
        transform: translateY(4%);
        & img {
          transform: translateX(-33.35%);
        }
      }
      &:nth-of-type(5) {
        transform: translateY(-2%);
        & img {
          transform: translateX(-66.83%);
        }
      }
      &:hover {
        z-index: 2;
        opacity: 1;

        & img {
          opacity: 1;
        }
      }

      // hero__right__container-hover
      &-hover {
        transform: translateY(0%) !important;
        // overflow: visible;
        z-index: 1;

        & img {
          opacity: 0.5;
          transition: opacity 0.4s ease;
        }
      }

      &__img {
        width: 756px;
        opacity: 1;
        pointer-events: none;
      }
    }

    // hero__right__line
    &__line {
      width: 0.15rem;
      height: 80vh;
      background: #040404;

      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
    }
  }
}
