// visit
.visit {
  display: flex;
  justify-content: center;
  align-items: center;

  // visit__place
  &__place {
    display: flex;

    // visit__place__country
    &__country {
      position: relative;

      &:hover {
        &::before {
          transform: translateX(0%);
        }
        &::after {
          transform: translateX(0%);
        }
      }

      &::before {
        content: "";
        width: 80px;
        height: 2px;
        background: #1c1c1c;
        position: absolute;
        top: -20px;

        transform: translateX(-50%);
        transition: transform 0.4s ease-in-out;
      }

      &::after {
        content: "";
        width: 80px;
        height: 2px;
        background: #d41212;
        position: absolute;
        bottom: -15px;
        right: 0;

        transform: translateX(50%);
        transition: transform 0.4s ease-in-out;
      }

      // visit__place__country img
      & img {
        height: 500px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
      }
    }
    // visit__place__description
    &__description {
      display: flex;
      flex-direction: column;
      max-width: 700px;
      width: 100%;

      margin: 0 20px;

      background-image: url("./../img/japan-map-bg.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      // visit__place__description__title
      &__title {
        font-size: 24px;
        font-weight: 500;

        position: relative;

        display: flex;
        align-items: center;

        &::before {
          content: "";
          width: 30px;
          height: 2px;
          background: #ec3b3b;

          top: 0;
          left: 0;

          margin: 0 20px 0 0;
        }
      }

      // visit__place__description__text
      &__text {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.8;

        margin: 30px 0 0 0;
      }

      // visit__place__description__container
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 50px 0 0 18px;

        // visit__place_description__container__btn
        &__btn {
          display: flex;
          flex-direction: column;

          background: #d51312;
          border: none;

          font-size: 12px;
          font-weight: 400;
          color: #ffffff;

          padding: 20px 40px;
          position: relative;

          &:hover {
            cursor: pointer;
            transition: transform 0.3s ease-in-out;

            &::before {
              transform: translate(-125%, 0%);
            }
            &::after {
              transform: translate(125%, 0%);
            }
          }

          &::before {
            content: "";
            width: 30px;
            height: 1px;
            background: #fff;

            transition: transform 0.5s ease-in-out;

            top: -5px;
            position: absolute;

            transform: translate(-185%, 0);
          }
          &::after {
            content: "";
            width: 30px;
            height: 1px;
            background: #1c1c1c;

            transition: transform 0.5s ease-in-out;

            bottom: -5px;
            position: absolute;
            transform: translate(185%, 0);
          }
        }

        // visit__place_description__container__nav
        &__nav {
          display: flex;

          // visit__place_description__container__nav-link
          &-link {
            font-size: 8px;
            font-weight: 400;

            transition: color 0.2s linear;

            &:hover {
              color: #d41212;
            }

            &::after {
              content: "/ /";
              padding: 0 5px;
            }
            &:nth-child(3) {
              &::after {
                content: "";
              }
            }
          }
        }
      }
    }
  }
}
