// imports
@import "./preload";
@import "./header";
@import "./hero";

*,
*::before,
*::after {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  color: #1c1c1c;
}

// body
body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;

  background: #dcdcdc;
  width: 100%;

  position: relative;

  &::before {
    content: "";
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #d41212;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-240.5%, -50%) scale(0.4);

    z-index: 5;
  }
}

// links
a {
  text-decoration: none;
}
